
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center teal-text">Andrea Kim</h1>
        <div class="row center">
            <h5 class="header col s12 light">Android Developer and animal advocate</h5>
        </div>
        <div class="row center">
            <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
        </div>
        <br><br>

    </div>
</div>


<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center">Genuine and Creative</h5>

                    <p class="light">I believe in improving lives through thinking creatively, education in every form, and utilizing technology to connect people and information. I am an Android Developer and a lifelong learner. I am also an advocate for empathy, compassion, equality, women in technology, and animals.
                </p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">Skills Galore!</h5>

                    <p class="light"><p>
                    My skills include programming with Java, XML, Android Studio, designing mobile interfaces, design principles, Git, test-driven development, APIs, performance management, HTTP, REST, JSON, and developing for multiple devices, web design using HTML and CSS, as well as communication, leadership, and management.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">Easy to work with</h5>

                    <p class="light">Chicago native, but exposed to the world - experience in dealing with all kinds of different personalities and cultures, and in diffusing difficult situations. Efficient and effective communicator and lover of language and culture.</p>
                </div>
            </div>
        </div>

    </div>
    <br><br>

    <div class="section">

    </div>
</div>

