<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <!-- Import Google Icon Fonts -->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' media="screen,projection" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="javascripts/materialize.min.js"></script>
    <script type="text/javascript" src="javascripts/app.js"></script>
  </head>
  <body>

  <nav class="orange lighten-1" role="navigation">
      <div class="nav-wrapper container"><a id="Andrea Kim" href="#" class="logo">Andrea Kim</a>
          <ul class="right hide-on-med-and-down">
              <li><a href="#"></a></li>
          </ul>

          <ul id="nav-mobile" class="side-nav">
              <li><a href="#"></a></li>
          </ul>
          <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
  </nav>

    {{{body}}}

  <footer class="page-footer orange darken-4">
      <div class="container">
          <div class="row">
              <div class="col l6 s12">
                  <h5 class="white-text">Bio</h5>
                  <p class="grey-text text-lighten-4">Born and raised in Chicago. Animal lover and advocate.</p>


              </div>
              <div class="col l3 s12">
                  <h5 class="white-text">Sites</h5>
                  <ul>
                      <li><a class="white-text" href="https://www.linkedin.com/in/andreakim">LinkedIn</a></li>
                      <li><a class="white-text" href="http://www.andreakim.com/">Andrea Kim website</a></li>
                      <li><a class="white-text" href="http://www.kkspets.com/">KK's Pet Sitting Website</a></li>
                      <li><a class="white-text" href="https://www.facebook.com/andreaforanimalsrescue">Andrea For Animals Facebook</a></li>
                  </ul>
              </div>
              <div class="col l3 s12">
                  <h5 class="white-text">Social Media</h5>
                  <ul>
                      <li><a class="white-text" href="https://www.facebook.com/andreaforanimals">Facebook</a></li>
                      <li><a class="white-text" href="https://twitter.com/andrea4animals">Twitter</a></li>
                      <li><a class="white-text" href="https://www.instagram.com/andreaforanimals/">Instagram</a></li>
                      <li><a class="white-text" href="https://medium.com/@andrea4animals">Medium</a></li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="footer-copyright">
          <div class="container">
              
          </div>
      </div>
  </footer>
  </body>


</html>
